.App {
  text-align: center;
}

body {
  background-color: black;
  background-image: url('./images/background.png');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(246, 245, 241);
  font-family: Roboto Mono , sans-serif;
  font-size: 20px;
  text-align: center;
}

.main {
  margin: auto;
  max-width: 80%;
}
